<div align="center">

  <h1>Prototipo en figma</h1>
  <img class="container" src="/./assets/imagenes/figma.jpg" alt="">

</div>
<br>

<p align="justify">
  En esta pestaña se hace referencia a un enlace donde podrás ver el proyecto en Figma. Figma es una herramienta de diseño de interfaces de usuario que permite a los diseñadores crear prototipos interactivos y colaborar en tiempo real con otros miembros del equipo. Si haces clic en el enlace, podrás acceder a una versión del proyecto en Figma, donde podrás ver cómo se han diseñado las diferentes pantallas y elementos de la interfaz de usuario, así como interactuar con los prototipos y hacer comentarios sobre el diseño. Si estás interesado en el diseño de interfaces de usuario y la creación de prototipos, te recomiendo que eches un vistazo al proyecto en Figma y veas cómo se ha implementado el diseño en este proyecto específico.
</p>
<div align="center">
  <a  href=""> el link va aqui</a>
</div>
