
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/../assets/imagenes/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/../assets/imagenes/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/../assets/imagenes/3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<h1 align="center">¿Quienes somos?</h1>
<hr>

<div class="container" align=" center">

  <p>
    Somos un equipo de apasionados por la tecnología y la diversidad cultural que está comprometido en preservar y difundir la riqueza de la lengua zapoteca a través de la creación de una aplicación innovadora y fácil de usar.
 </p>



  <p>
    Nuestro equipo está formado por lingüistas, desarrolladores y diseñadores, todos ellos con amplia experiencia en sus respectivas áreas. Trabajamos juntos en colaboración estrecha y constante para garantizar que nuestra aplicación sea lo más precisa, eficaz y atractiva posible.
  </p>



  <p>
    Entendemos la importancia de preservar y difundir las lenguas indígenas y creemos que nuestra aplicación puede hacer una gran diferencia en el mundo. Queremos que nuestra aplicación sea una herramienta útil y accesible para las personas que hablan zapoteco, así como también para aquellos que quieran aprender sobre esta fascinante lengua.
  </p>



  <p>
    Estamos comprometidos en mantener un enfoque culturalmente sensible y en colaborar estrechamente con las comunidades zapotecas para asegurarnos de que nuestra aplicación sea respetuosa de su cultura y necesidades específicas.
  </p>



  <p>
    Nos emociona poder ofrecer nuestra aplicación a la comunidad zapoteca y esperamos que se convierta en una herramienta invaluable para la preservación y difusión de su lengua.
  </p>

</div>
<br><br><br>

<h1 align="center">Problematica</h1>
<hr>

<div class="container" align=" center">

    <p>
      En la comunidad de San Pablo Huixtepec, Oaxaca, México, la lengua zapoteca es una de las lenguas más habladas por la población local. Sin embargo, a pesar de su importancia cultural y lingüística, la lengua zapoteca está en riesgo de desaparecer debido a la falta de uso y enseñanza en la vida diaria de los habitantes.
      Los hablantes de lengua zapoteca en San Pablo Huixtepec tienen un problema debido a que la lengua está perdiendo su uso y relevancia en la comunidad, lo que puede llevar a su eventual desaparición. El problema surge debido a la falta de interés y promoción de la lengua en la educación y vida cotidiana.
      La causa del problema es la falta de interés y apoyo por parte de las autoridades y de la sociedad en general para promover y enseñar la lengua zapoteca. Además, la influencia de la cultura dominante y la globalización también han contribuido a la disminución del uso de la lengua en la comunidad.

    </p>
    <br>
    <p>
      Se sabe que la lengua zapoteca en San Pablo Huixtepec está en riesgo de desaparecer debido a la falta de uso y enseñanza en la comunidad. También se sabe que la mayoría de la población en la comunidad aún habla zapoteco, pero muchos jóvenes están perdiendo la habilidad de hablar la lengua y prefieren utilizar el español en su vida cotidiana.


    </p>
    <br>
    <p>
      Se han realizado esfuerzos por parte de organizaciones y autoridades locales para promover la enseñanza y uso de la lengua zapoteca en la comunidad, pero estos esfuerzos han sido limitados y no han logrado un impacto significativo.
      Hasta el momento, no se ha logrado una solución efectiva para el problema de la pérdida del uso de la lengua zapoteca en San Pablo Huixtepec. Sin embargo, se han identificado algunas iniciativas exitosas en otras comunidades, como la creación de programas de enseñanza de la lengua para jóvenes y la promoción de la lengua en la educación y medios de comunicación locales.
Es importante tener en cuenta que la problemática presentada es sólo una perspectiva y que existen diferentes causas y soluciones posibles. La investigación y exploración de la situación actual de la lengua zapoteca en San Pablo Huixtepec es fundamental para identificar las necesidades específicas de la comunidad y poder implementar estrategias efectivas para la promoción y revitalización de la lengua.

    </p>

</div>
<br><br><br>

<h1 align="center">Justificación</h1>
<hr>


<div class="container" align=" center">

  <p>
    Diversas organizaciones, instituciones académicas y personas interesadas en la preservación de las lenguas indígenas han abordado el tema antes que nosotros. Sin embargo, nuestro enfoque es específico en la lengua zapoteca y en el desarrollo de una aplicación para promover su enseñanza y uso en la sociedad.
 </p>
 <br>
 <p>Deseamos llevar a cabo el proyecto para contribuir a la recuperación y difusión de la lengua zapoteca en México, y para promover su valor y relevancia en la sociedad actual. Queremos hacerlo de una manera accesible, práctica y atractiva para los usuarios, mediante el desarrollo de una aplicación que facilite el aprendizaje y uso de la lengua.
  </p>
  <br>
  <p>
    Para llevar a cabo el proyecto, planeamos trabajar con hablantes de lengua zapoteca para desarrollar el contenido y la estructura de la aplicación. También vamos a trabajar con expertos en tecnología para el diseño y desarrollo de la aplicación. Los recursos que implicaría el proyecto incluyen el tiempo y el esfuerzo de las personas involucradas, los costos de diseño y desarrollo de la aplicación, y los costos de promoción y difusión de la aplicación. Estamos considerando buscar financiamiento de diversas fuentes, incluyendo instituciones gubernamentales y privadas, para poder llevar a cabo el proyecto de manera efectiva.

  </p>
  <br>
  <p>  Planeamos llevar a cabo el proyecto mediante una aplicación porque creemos que es una herramienta efectiva y accesible para llegar a un público amplio y diverso. Queremos aprovechar las tecnologías digitales para crear una experiencia interactiva y amigable para el usuario, que permita aprender la lengua zapoteca de una manera sencilla y práctica. Al hacerlo de esta manera, esperamos contribuir a la preservación y revitalización de la lengua zapoteca, promoviendo su uso y enseñanza en la sociedad actual.
  </p>

</div>


