
<h1 align="center">CRUD PALABRA ZAPOTECA</h1>
<br>


<div class="text-center table-responsive">
  <div class="btn-group " role="group" aria-label="Basic radio toggle button group">

      <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off">
      <label  routerLink="/admin/agregar" class="btn btn-outline-success"for="btnradio1" >Create</label>

      <input type="radio" class="btn-check " name="btnradio" id="btnradio2" autocomplete="off" >
      <label  routerLink="/admin/leer" class="btn btn-outline-success" for="btnradio2">Read ° Update ° Delete</label>

  </div>
</div>
<br>

<router-outlet></router-outlet>




